:root {
  --white: white;
  --backgroundColor: #F0F0F4;
}

body {
  background-color: var(--backgroundColor);
  font-family: 'Roboto' ,Arial,sans-serif;
  color: #202124;
  margin: 0;
}

.MuiButton-text.form-button {
  box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2),0 1px 1px 0 rgba(0,0,0,0.141),0 1px 3px 0 rgba(0,0,0,0.122);
  background-color: white;
}